body {
  display: flex;
  justify-content: center;
  line-height: 1.8;
  font-size: 1.3rem;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  box-sizing: border-box; /* box size includes content, padding, and border */
  background-color: rgb(255, 255, 253);
}

/* .close {
  margin-left: auto;
  float: right;
  background-color: aliceblue;
  padding: 0 0.5em 0 0.5em;
} */

.close {
  float: right;
}

.close:hover {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  color: rgb(20, 69, 17);
  font-family: "Aboreto", cursive;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0;
}

.to-do {
  margin-top: 1%;
}

.to-do li {
  margin: 10px;
}

#remove-item,
#btn {
  background-color: rgb(50, 94, 62);
  border-radius: 10px;
  line-height: 1.6;
  color: rgb(252, 248, 242);
  font-weight: 600;
}

#remove-item:hover,
#btn:hover {
  background-color: rgb(138, 169, 196);
}

#remove-item:active,
#btn:active {
  background-color: rgb(53, 116, 170);
}

#new-item {
  background-color: rgb(238, 238, 227);
}

/* .wrapper styles affect all visible content on the web page */
.wrapper {
  margin: 0 auto; /* Centers the content on the page */
}

.container {
  padding-left: 1em; /* adds slight padding to left side of main content */
  padding-right: 1em; /* adds slight padding to left side of main content */
  margin: 0 auto; /* Centers the main content in the container on the page */
}

header {
  background-color: rgb(206, 249, 235); /* Header background color */
}

.hero-title {
  text-align: center;
}

h1 {
  margin-top: 0; /* Removes the whitespace between h1 and the top of the page */
}

footer {
  background-color: rgb(206, 249, 235);
  margin-bottom: 0;
}

.footer-heading {
  margin-bottom: 0;
  padding-bottom: 20px;
}

/* Common Media Query Breakpoints: 
      320px — 480px: Mobile devices
      481px — 768px: iPads, Tablets
      769px — 1024px: Small screens, laptops
      1025px — 1200px: Desktops, large screens
      1201px and more —  Extra large screens, TV
  */

/* Building up from min-width is the mobile-first approach. CSS will 
  be applied only when browser window is above a certain size */
@media only screen and (min-width: 600px) {
  .hero-title {
    font-size: 4.5rem;
  }

  .container {
    width: 70%; /* Limits layout width on larger screens */
    max-width: 1000px; /* Even on larger screens, container div will only be 1000px wide */
    margin: 0 auto; /* Removes top/bottom margins and centers content */
  }
}
